# Aplicação
APP_ENV=development
APP_PORT=8080

# MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=golang_api_pass
DB_NAME=golang_api

# JWT
JWT_SECRET=sua-chave-secreta-aqui

# SMTP (desativado em development — emails são logados no console)
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=